<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yangyun.mapper.ZTestbMapper">
    <delete id="testDelete">
      DELETE FROM z_testb where 1=1 /*and id  = null*/
    </delete>

    <delete id="testDelete2">
      DELETE FROM z_testb where 1=1 and id  = null and id = 3 or id  = 4 and id = 3 and id  = 4 or id = 1 and id = 5 and id = 4
      or id  = 4 and id = 3 and id  = 4 or id = 1 and id = 5 and id = 4
      and id in (1) or id  = 4 and id = 3 and id  = 4 or id = 1 and id = 5 and id = 4
      or id in (1)  or id  = 4 and id = 3 and id  = 4 or id = 1 and id = 5 and id = 4
    </delete>
</mapper>